:root {
    --blue-pink: linear-gradient(98.66deg,#d6e9ff 2.52%,#ffddf7);
    --yellow-pink: linear-gradient(98.66deg,#ffe6c0 2.52%,#ffd8eb);
    --text-color: #585f73;
    --white: #fff;
    --black: #000;
    --clickableBlack: #222;
    --grayMiddle: #d7dae0;
    --grayPrimary: #3e3e3e;
    --graySecondary: #888;
    --grayLine: #e7e7e7;
    --helsiBlue: #63aeff;
    --helsiBlueLight: rgba(99,174,255,.6);
    --bluePrimary: #2880dd;
    --bluePrimary50: #eef5fc;
    --bluePrimary100: #dcedff;
    --blueHover: #2c5daa;
    --blueActive: #0a3399;
    --purple: #9a6ff5;
    --purpleHover: #7049c1;
    --purpleLight: #e3e5f6;
    --pink: #e3a0f4;
    --pinkHover: #c162d9;
    --pinkLight: #f6e0ea;
    --green: #7be2db;
    --green50: #eafdff;
    --green100: #d2f7f4;
    --green700: #0d5650;
    --greenHover: #20d6c9;
    --greenHover600: #1aaba1;
    --greenLight: #ccf4f1;
    --error: #ff2d55;
    --error50: #fff4f7;
    --font: "Open Sans", sans-serif;
    --boxShadow: 0 0 1px rgb(0 0 0/8%), 0 1px 4px rgba(0,0,0,.16);
    --boxShadowHover: 0 0 1px rgb(0 0 0/8%), 0 2px 8px rgba(0,0,0,.16);
    --boxShadowSearchCard: 0 0 1px rgb(24 35 52/8%), 0 4px 50px rgba(99,110,140,.15);
    --boxShadowSearchCardHover: 0 0 1px 1px rgb(24 35 52/8%), 0 4px 8px rgba(99,110,140,.15);
    --boxShadowCardBorder: 0 0 2px rgba(34,34,34,.16);
}