:root {
    --blue-pink: linear-gradient(98.66deg,#d6e9ff 2.52%,#ffddf7);
    --text-color: #585f73;
    --white: #fff;
    --clickableBlack: #222;
    --grayMiddle: #d7dae0;
    --grayPrimary: #3e3e3e;
    --graySecondary: #888;
    --grayLine: #e7e7e7;
    --helsiBlue: #63aeff;
    --helsiBlueLight: rgba(99,174,255,.6);
    --bluePrimary: #2880dd;
    --bluePrimary50: #eef5fc;
    --bluePrimary100: #dcedff;
    --blueHover: #2c5daa;
    --blueActive: #0a3399;
    --error: #ff2d55;
    --error50: #fff4f7;
    --borderRadiusXXL: 16px;
    --borderRadiusXL: 12px;
    --borderRadiusLg: 8px;
    --borderRadiusSm: 4px;
    --h0: 48px;
    --h1: 32px;
    --h2: 24px;
    --h3: 20px;
    --h4: 16px;
    --body1: 14px;
    --body2: 14px;
    --body3: 12px;
    --body4: 11px;
    --extraBold: 800;
    --bold: 700;
    --semiBold: 600;
    --regular: 400;
    --font: "Open Sans", sans-serif;
    --boxShadow: 0 0 1px rgb(0 0 0/8%), 0 1px 4px rgba(0,0,0,.16);
    --boxShadowHover: 0 0 1px rgb(0 0 0/8%), 0 2px 8px rgba(0,0,0,.16);
    --boxShadowSearchCard: 0 0 1px rgb(24 35 52/8%), 0 4px 50px rgba(99,110,140,.15);
    --boxShadowSearchCardHover: 0 0 1px 1px rgb(24 35 52/8%), 0 4px 8px rgba(99,110,140,.15);
    --boxShadowCardBorder: 0 0 2px rgba(34,34,34,.16);
}