body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    border-bottom: 1.5px solid var(--grayLine);
}

.logo {
    height: 38.5px;
    margin-left: 20px;
}

.geo {
    height: 18.38px;
    width: 13.2px;
    margin-left: -2px;
    margin-right: 10px;
}

.city-menu-button {
    border: none;
    background: none;
    color: var(--helsiBlue);
    height: 2px;
    width: 6px;
    position: absolute;
    top: 24px;
    left: 150px;
}

.header-navigation {
    display: flex;
    margin-right: 25px;
}

.important {
    background-color: var(--error50);
    border: 0;
    border-radius: 50px;
    width: 52px;
    height: 14px;
    display: flex;
    align-items: center;
    margin: 0 0 0 60px;
    position: absolute;
    top: 8px;
}

.important-text {
    color: var(--error);
    font-size: 9px;
    font-weight: 500;
}

.new {
    background-color: var(--bluePrimary50);
    border: 0;
    border-radius: 50px;
    width: 36px;
    height: 14px;
    display: flex;
    align-items: center;
    margin: 0 0 0 90px;
    position: absolute;
    top: 8px;
}
.new-text {
    color: var(--bluePrimary);
    font-size: 9px;
    font-weight: bold;
}

.health-text {
    color: var(--bluePrimary);
    font-weight: 600;
}

header ul li {
    font-family: var(--font);
    color: #454a59;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    align-items: center;
    margin-left: -30px;
}

header li {
    margin-right: 10px;
    display: flex;
}

header p {
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-family: var(--font);
    color: #454a59;
    font-size: 14px;
    font-weight: 549;
    list-style-type: none;
    font-style: normal;
}

.notification-button {
    align-items: center;
    margin-right: 9px;
    margin-top: 2.5px;
    background-color: white;
    border: 1.5px solid var(--grayPrimary);
    border-radius: 2px;
    height: 46.5px;
    width: 45px;
}

.bell {
    width: 15.4px;
    height: 19.5px;
    padding-top: 5px;
    padding-right: 1px;
}

.login-button {
    align-items: center;
    background-color: white;
    border: 1.5px solid var(--grayPrimary);
    border-radius: 2px;
    height: 46px;
    width: 82.5px;
    margin-right: 20px;
    margin-top: 2.5px;
}

.login-text {
    font-family: var(--font);
    color: #454a59;
    font-size: 14px;
    font-weight: 549.9;
    list-style-type: none;
    font-style: normal;
}


/* --- dropdown menu --- */


.city-selector {
    font-family: var(--font);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}

#selected-city {
    margin-right: 10px;
    color: var(--helsiBlue);
}

.city-menu {
    display: none;
    position: absolute;
    top: 63px;
    left: 20%;
    transform: translateX(-50%);
    width: 400px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cities {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: var(--font);
}

.city {
    flex: 1 1 30%;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.city:hover {
    background-color: #e0e0e0;
}

.search-city {
    margin-top: 20px;
}

.search-city input {
    width: 90%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

/* --- END Added CSS for City Selector --- */


/* body */


.container-background {
    padding-top: 1px;
    text-align: center;
    height: 574px;
    background: var(--blue-pink);
}

.text-h1 {
    color: var(--clickableBlack);
    font-size: 48px;
    font-weight: 600;
    font-family: var(--font);
    margin-top: 60px;
}

.text-h2 {
    color: var(--grayPrimary);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font);
    margin-top: -20px;
}

.search-container {
    margin-top: 57px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.choose-action-input {
    height: 36px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid var(--grayLine);
    caret-color: var(--bluePrimary);
    color: var(--grayPrimary);
}

.choose-action-input:focus {
    outline: 1px solid var(--bluePrimary);
}

.choose-action-input::placeholder {
    font-family: var(--font);
    font-size: 14px;
    font-color: var(--text-color);
}

.choose-action-input:hover {
    box-shadow: 2px var(--grayPrimary);
}

.search-specialist {
    height: 38.8px;
    width: 425px;
    margin-left: 16px;
    border-radius: 8px;
    border: 1px solid var(--grayLine);
    caret-color: var(--bluePrimary);
    background: url("assets/search.svg") no-repeat 7px, center, #ffffff;
    padding: 9px 30px 9px 40px;
}

.search-specialist:focus {
    outline: 1px solid var(--bluePrimary);
}

.search-specialist::placeholder {
    font-family: var(--font);
    font-size: 14px;
    font-color: var(--text-color);
}


.search-button {
    margin-left: 16px;
    background: var(--bluePrimary);
    height: 39.6px;
    width: 94px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--bluePrimary);
}

.search-button:hover {
    background: var(--blueHover);
    border: 1px solid var(--blueHover);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.search-button:active {
    background: var(--blueActive);
    border: 1px solid var(--blueActive);
}

.search-button {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.search-text-button {
    color: var(--white);
    font-family: var(--font);
    font-weight: bold;
    font-size: 16px;
}

/*containers*/


.container-for-containers {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 71px;
}

.column-1, .column-2, .column-3, .column-4 {
    height: 300px;
}

/*повторюванні елементи*/

.button-container {
    background-color: #ffffff;
    border: 1px solid var(--bluePrimary);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 3;
}

.arrow {
    width: 17px;
    height: 18px;
    margin-left: -1px;
    z-index: 2;
}

.white-arrow {
    z-index: 1;
    width: 17px;
    height: 18px;
    margin-left: -1px;
    position: absolute;
}

.search-card {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.paragraph-container {
    font-family: var(--font);
    font-size: 14px;
    text-align: left;
    color: var(--grayPrimary)
}

p {
    margin: 0 0;
    line-height: 22px;
}


/*container 1*/


.container-type-1 {
    height: 150px;
    width: 240px;
    border-radius: 8px;
    background: var(--white);
    padding: 16px;
    margin: 0 20px 20px 0;
    position: relative;
    overflow: hidden;
    box-shadow: var(--boxShadowSearchCard);
}

.head-container-1 {
    height: auto;
    width: 216px;
    font-family: var(--font);
    color: #222222;
    font-size: 20px;
    text-align: left;
    margin: 0 0 8px;
    line-height: 140%;
}

.image-container {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: -4px;
    right: 16px;
}

.bubble-star-background {
    background-color: #e0efff;
    opacity: 0.5;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.bubble-pills-background {
    background-color: #e3e5fb;
    opacity: 0.5;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.star {
    height: 40px;
    position: relative;
    object-fit: cover;
    z-index: 2;
}

.pills {
    height: 63px;
    position: relative;
    object-fit: cover;
    z-index: 2;
}

.mob-app {
    height: 100px;
    width: 100px;
    position: relative;
    object-fit: cover;
    z-index: 2;
}


/*Стани*/


.container-type-1:hover {
    box-shadow: var(--boxShadowSearchCardHover);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1 {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1:hover .button-container{
    background-color: var(--bluePrimary);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1 .button-container {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1:hover .arrow{
    opacity: 0;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1 .arrow{
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1:hover .bubble-star-background {
    opacity: 1;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1 .bubble-star-background {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1:hover .bubble-pills-background {
    opacity: 1;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1 .bubble-pills-background {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}


/*container 2*/


.container-type-2 {
    height: 50px;
    width: 240px;
    border-radius: 8px;
    background: var(--white);
    padding: 12px 16px;
    margin: 0 20px 20px 0;
    position: relative;
    overflow: hidden;
    box-shadow: var(--boxShadowSearchCard);
}

.head-container-2 {
    font-family: var(--font);
    color: #222222;
    font-size: 16px;
    text-align: left;
    margin: 0 0 5px;
    line-height: 140%;
}

.face-stars {
    width: 16px;
    height: 16px;
}


/*Стани*/


.container-type-2:hover {
    box-shadow: var(--boxShadowSearchCardHover);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-2 {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-2:hover .button-container{
    background-color: var(--bluePrimary);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-2 .button-container{
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-2:hover .arrow{
    opacity: 0;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-2 .arrow{
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}


/*container 3*/


.container-type-3 {
    height: 94px;
    width: 240px;
    border-radius: 8px;
    background: var(--white);
    padding: 16px;
    margin: 0 20px 24px 0;
    position: relative;
    overflow: hidden;
    box-shadow: var(--boxShadowSearchCard);
}

.head-container-3 {
    height: auto;
    width: 216px;
    font-family: var(--font);
    color: #222222;
    font-size: 16px;
    text-align: left;
    margin: 0 0 5px;
    line-height: 140%;
}

.image-container-3 {
    width: 75px;
    height: 75px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: 2px;
    right: 16px;
}

.bubble-medicine-background {
    background-color: #fff5ed;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.bubble-declaration-background {
    background-color: #f0fdd8;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.prytula {
    height: 40px;
    position: relative;
    object-fit: cover;
    z-index: 2;
}

.declarations {
    height: 67px;
    width: 76px;
    position: relative;
    object-fit: cover;
    z-index: 2;
}


/*Стани*/


.container-type-3:hover {
    box-shadow: var(--boxShadowSearchCardHover);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3:hover .button-container{
    background-color: var(--bluePrimary);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3:hover .arrow{
    opacity: 0;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3:hover .bubble-medicine-background {
    opacity: 1;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3:hover .bubble-declaration-background {
    opacity: 1;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3 {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3 .button-container{
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3 .arrow{
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3 .bubble-medicine-background {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3 .bubble-declaration-background {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}


/*fldspfmsnfnsrpfnpsnf*/


.container-often-in-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-h2-1 {
    padding-top: 80px;
    margin-bottom: 52px;
    font-size: 32px;
    text-align: center;
    font-family: var(--font);
    color: #222222;
    line-height: 1.4;
    font-weight: 600;
}

.container-for-circles {
    height: 83px;
    width: 132px;
    margin: 0 6px;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.circle-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 56px;
    width: 56px;
    margin-bottom: 5px;
    width: 56px;
}

.circle-1 {
    background-color: var(--bluePrimary);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-2 {
    background-color: var(--green);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-3 {
    background-color: var(--pink);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-4 {
    background-color: var(--purple);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-1:hover {
    background-color: var(--blueHover);
}

.circle-2:hover {
    background-color: var(--greenHover);
}

.circle-3:hover {
    background-color: var(--pinkHover);
}

.circle-4:hover {
    background-color: var(--purpleHover);
}

.text-under-circle {
    color: var(--grayPrimary);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-family: var(--font);
    text-align: center;
}

