body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    border-bottom: 1.5px solid var(--grayLine);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
}

.logo {
    height: 38.5px;
    margin-left: 20px;
}

.geo {
    height: 18.38px;
    width: 13.2px;
    margin-left: -2px;
    margin-right: 10px;
}

.city-menu-button {
    border: none;
    background: none;
    color: var(--helsiBlue);
    height: 2px;
    width: 6px;
    position: absolute;
    top: 24px;
    left: 150px;
}

.header-navigation {
    display: flex;
    margin-right: 25px;
}

.important {
    background-color: var(--error50);
    border: 0;
    border-radius: 50px;
    width: 52px;
    height: 14px;
    display: flex;
    align-items: center;
    margin: 0 0 0 60px;
    position: absolute;
    top: 8px;
}

.important-text {
    color: var(--error);
    font-size: 9px;
    font-weight: 500;
}

.new {
    background-color: var(--bluePrimary50);
    border: 0;
    border-radius: 50px;
    width: 36px;
    height: 14px;
    display: flex;
    align-items: center;
    margin: 0 0 0 90px;
    position: absolute;
    top: 8px;
}
.new-text {
    color: var(--bluePrimary);
    font-size: 9px;
    font-weight: bold;
}

.health-text {
    color: var(--bluePrimary);
    font-weight: 600;
}

header ul li {
    font-family: var(--font);
    color: #454a59;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    align-items: center;
    margin-left: -30px;
}

header li {
    margin-right: 10px;
    display: flex;
}

header p {
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-family: var(--font);
    color: #454a59;
    font-size: 14px;
    font-weight: 549;
    list-style-type: none;
    font-style: normal;
}

.notification-button {
    align-items: center;
    margin-right: 9px;
    margin-top: 2.5px;
    background-color: white;
    border: 1.5px solid var(--grayPrimary);
    border-radius: 2px;
    height: 46.5px;
    width: 45px;
}

.bell {
    width: 15.4px;
    height: 19.5px;
    padding-top: 5px;
    padding-right: 1px;
}

.login-button {
    align-items: center;
    background-color: white;
    border: 1.5px solid var(--grayPrimary);
    border-radius: 2px;
    height: 46px;
    width: 82.5px;
    margin-right: 20px;
    margin-top: 2.5px;
}

.login-text {
    font-family: var(--font);
    color: #454a59;
    font-size: 14px;
    font-weight: 549.9;
    list-style-type: none;
    font-style: normal;
}


/* --- dropdown menu --- */


.city-selector {
    font-family: var(--font);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}

#selected-city {
    margin-right: 10px;
    color: var(--helsiBlue);
}

.city-menu {
    display: none;
    position: absolute;
    top: 63px;
    left: 20%;
    transform: translateX(-50%);
    width: 400px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cities {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: var(--font);
}

.city {
    flex: 1 1 30%;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.city:hover {
    background-color: #e0e0e0;
}

.search-city {
    margin-top: 20px;
}

.search-city input {
    width: 90%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

/* --- END Added CSS for City Selector --- */


/* body */


.container-background {
    padding-top: 63.5px;
    text-align: center;
    height: 574px;
    background: var(--blue-pink);
}

.text-h1 {
    color: var(--clickableBlack);
    font-size: 48px;
    font-weight: 600;
    font-family: var(--font);
    margin-top: 60px;
}

.text-h2 {
    color: var(--grayPrimary);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font);
    margin-top: -20px;
}

.search-container {
    margin-top: 57px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.choose-action-input {
    height: 36px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid var(--grayLine);
    caret-color: var(--bluePrimary);
    color: var(--grayPrimary);
}

.choose-action-input:focus {
    outline: 1px solid var(--bluePrimary);
}

.choose-action-input::placeholder {
    font-family: var(--font);
    font-size: 14px;
    font-color: var(--text-color);
}

.choose-action-input:hover {
    box-shadow: 2px var(--grayPrimary);
}

.search-specialist {
    height: 38.8px;
    width: 425px;
    margin-left: 16px;
    border-radius: 8px;
    border: 1px solid var(--grayLine);
    caret-color: var(--bluePrimary);
    background: url("assets/search.svg") no-repeat 7px, center, #ffffff;
    padding: 9px 30px 9px 40px;
}

.search-specialist:focus {
    outline: 1px solid var(--bluePrimary);
}

.search-specialist::placeholder {
    font-family: var(--font);
    font-size: 14px;
    font-color: var(--text-color);
}

.search-container .button {
    margin-left: 16px;
}

.button {
    background: var(--bluePrimary);
    height: 39.6px;
    width: auto;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--bluePrimary);
    padding: 7px 16px;
}

.button:hover {
    background: var(--blueHover);
    border: 1px solid var(--blueHover);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.button:active {
    background: var(--blueActive);
    border: 1px solid var(--blueActive);
}

.button {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.text-button {
    color: var(--white);
    font-family: var(--font);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

/*containers*/


.container-for-containers {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 71px;
}

.column-1, .column-2, .column-3, .column-4 {
    height: 300px;
}

/*повторюванні елементи*/

.button-container {
    background-color: #ffffff;
    border: 1px solid var(--bluePrimary);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 3;
}

.arrow {
    width: 17px;
    height: 18px;
    margin-left: -1px;
    z-index: 2;
}

.white-arrow {
    z-index: 1;
    width: 17px;
    height: 18px;
    margin-left: -1px;
    position: absolute;
}

.search-card {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.paragraph-container {
    font-family: var(--font);
    font-size: 14px;
    text-align: left;
    color: var(--grayPrimary)
}

p {
    margin: 0 0;
    line-height: 22px;
}


/*container 1*/


.container-type-1 {
    height: 150px;
    width: 240px;
    border-radius: 8px;
    background: var(--white);
    padding: 16px;
    margin: 0 20px 20px 0;
    position: relative;
    overflow: hidden;
    box-shadow: var(--boxShadowSearchCard);
}

.head-container-1 {
    height: auto;
    width: 216px;
    font-family: var(--font);
    color: #222222;
    font-size: 20px;
    text-align: left;
    margin: 0 0 8px;
    line-height: 140%;
}

.image-container {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: -4px;
    right: 16px;
}

.bubble-star-background {
    background-color: #e0efff;
    opacity: 0.5;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.bubble-pills-background {
    background-color: #e3e5fb;
    opacity: 0.5;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.star {
    height: 40px;
    position: relative;
    object-fit: cover;
    z-index: 2;
}

.pills {
    height: 63px;
    position: relative;
    object-fit: cover;
    z-index: 2;
}

.mob-app {
    height: 100px;
    width: 100px;
    position: relative;
    object-fit: cover;
    z-index: 2;
}


/*Стани*/


.container-type-1:hover {
    box-shadow: var(--boxShadowSearchCardHover);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1 {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1:hover .button-container{
    background-color: var(--bluePrimary);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1 .button-container {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1:hover .arrow{
    opacity: 0;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1 .arrow{
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1:hover .bubble-star-background {
    opacity: 1;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1 .bubble-star-background {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1:hover .bubble-pills-background {
    opacity: 1;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-1 .bubble-pills-background {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}


/*container 2*/


.container-type-2 {
    height: 50px;
    width: 240px;
    border-radius: 8px;
    background: var(--white);
    padding: 12px 16px;
    margin: 0 20px 20px 0;
    position: relative;
    overflow: hidden;
    box-shadow: var(--boxShadowSearchCard);
}

.head-container-2 {
    font-family: var(--font);
    color: #222222;
    font-size: 16px;
    text-align: left;
    margin: 0 0 5px;
    line-height: 140%;
}

.face-stars {
    width: 16px;
    height: 16px;
}


/*Стани*/


.container-type-2:hover {
    box-shadow: var(--boxShadowSearchCardHover);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-2 {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-2:hover .button-container{
    background-color: var(--bluePrimary);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-2 .button-container{
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-2:hover .arrow{
    opacity: 0;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-2 .arrow{
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}


/*container 3*/


.container-type-3 {
    height: 94px;
    width: 240px;
    border-radius: 8px;
    background: var(--white);
    padding: 16px;
    margin: 0 20px 24px 0;
    position: relative;
    overflow: hidden;
    box-shadow: var(--boxShadowSearchCard);
}

.head-container-3 {
    height: auto;
    width: 216px;
    font-family: var(--font);
    color: #222222;
    font-size: 16px;
    text-align: left;
    margin: 0 0 5px;
    line-height: 140%;
}

.image-container-3 {
    width: 75px;
    height: 75px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: 2px;
    right: 16px;
}

.bubble-medicine-background {
    background-color: #fff5ed;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.bubble-declaration-background {
    background-color: #f0fdd8;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.prytula {
    height: 40px;
    position: relative;
    object-fit: cover;
    z-index: 2;
}

.declarations {
    height: 67px;
    width: 76px;
    position: relative;
    object-fit: cover;
    z-index: 2;
}


/*Стани*/


.container-type-3:hover {
    box-shadow: var(--boxShadowSearchCardHover);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3:hover .button-container{
    background-color: var(--bluePrimary);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3:hover .arrow{
    opacity: 0;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3:hover .bubble-medicine-background {
    opacity: 1;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3:hover .bubble-declaration-background {
    opacity: 1;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3 {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3 .button-container{
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3 .arrow{
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3 .bubble-medicine-background {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.container-type-3 .bubble-declaration-background {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}


/*fldspfmsnfnsrpfnpsnf*/


.container-often-in-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-h2-1 {
    padding-top: 96px;
    margin-bottom: 52px;
    font-size: 32px;
    text-align: center;
    font-family: var(--font);
    color: #222222;
    line-height: 1.4;
    font-weight: 600;
}

.container-for-circles {
    height: 83px;
    width: 132px;
    margin: 0 6px;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.circle-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 56px;
    width: 56px;
    margin-bottom: 5px;
    width: 56px;
}

.circle-1 {
    background-color: var(--bluePrimary);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-2 {
    background-color: var(--green);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-3 {
    background-color: var(--pink);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-4 {
    background-color: var(--purple);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-1:hover {
    background-color: var(--blueHover);
}

.circle-2:hover {
    background-color: var(--greenHover);
}

.circle-3:hover {
    background-color: var(--pinkHover);
}

.circle-4:hover {
    background-color: var(--purpleHover);
}

.text-under-circle {
    color: var(--grayPrimary);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-family: var(--font);
    text-align: center;
}


/*ЯК ЗАПИСАТИСЬ ДО ЛІКАРЯ*/

.step-h3 {
    font-family: var(--font);
    color: var(--grayPrimary);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin: 0 0 25px;
}

.step-p {
    font-family: var(--font);
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.step-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0;
}

/*mgksrngpnsk;gnrk;w*/

.container-for-steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*1111111111111111111111111111111*/

.step-1-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 399px;
    width: 388px;
    margin-right: 14px;
}

.step-1-image-container {
    position: relative;
    width: 374px;
    height: 302px;
}

.step-1-bubble {
    border-radius: 50%;
    background: var(--yellow-pink);
    height: 184px;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
    width: 184px;
    z-index: 1;
    position: absolute;
}

.step-1 {
    margin-top: 30px;
    width: 369px;
    height: 272px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}


/*222222222222222222222222*/


.step-2-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 399px;
    width: 268px;
    margin-left: 26px;
    margin-right: 50px;
}

.step-2-image-container {
    position: relative;
    display: flex;
    width: 268px;
    height: 302px;
}

.step-2-bubble {
    border-radius: 50%;
    background: var(--blue-pink);
    height: 184px;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
    width: 184px;
    z-index: 1;
    position: absolute;
}

.step-2 {
    margin-top: 49px;
    margin-left: 29px;
    width: 239px;
    height: 188px;
    z-index: 2;
}


/*333333333333333333333333333*/


.step-3-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 399px;
    width: 262px;
    margin-left: 64px;
}

.step-3-image-container {
    position: relative;
    display: flex;
    width: 262px;
    height: 302px;
}

.step-3-bubble-1 {
    border-radius: 50%;
    background: var(--yellow-pink);
    transform: rotate(-90deg);
    width: 58px;
    height: 58px;
    left: 0;
    top: 133px;
    position: absolute;
    z-index: 1;
}

.step-3-bubble-2 {
    border-radius: 50%;
    background: var(--yellow-pink);
    transform: rotate(-90deg);
    width: 193px;
    height: 193px;
    right: 0;
    top: 0;
    z-index: 1;
    position: absolute;
}

.step-3 {
    margin-top: 9px;
    width: 182px;
    height: 249px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 37px;
}

.arrow-container {
    width: 24px;
    height: 399px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*ADVANTAGES*/

.advantages-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1190px;
    width: 100%;
    padding: 48px 16px;
}

.advantages-container .text-h2-1 {
    margin-top: 0;
    padding-top: 0;
}

.advantages_grid {
    grid-gap: 20px;
    display: grid;
    grid-template-areas:
        "container1 container1 container1 container2 container3 container3"
        "container1 container1 container1 container5 container5 container5"
        "container4 container4 container4 container5 container5 container5";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    max-width: 100%;
    width: 100%;
}

.advantages {
    align-items: flex-start;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 187px;
    width: 100%;
}

.advantages.advantages-container-1 {
    background: 100% 100% / contain no-repeat url(assets/search-doctors.png);
    background-color: var(--blueBg);
    grid-area: container1;
    padding: 36px 32px;
}

.advantages-1-h2 {
    color: var(--clickableBlack);
    font-size: 24px;
    margin: 0 0 6px;
    font-weight: 700;
    line-height: 1.4;
    font-family: var(--font);
}

.advantages-1-p {
    color: var(--grayPrimary);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: auto;
    line-height: 22px;
    font-family: var(--font);

}

.advantages.advantages-1 .button {
    margin: 30px 0 0;
}

.advantages.advantages-container-2 {
    grid-area: container2;
    background-color: var(--purpleLight);
    padding: 32px 20px;
}

.advantages-2-span {
    color: var(--clickableBlack);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 auto;
}

.advantages.advantages-container-2 .button-container {
    height: 40px;
    width: 40px;
    background-color: var(--purpleLight);
}

.advantages.advantages-container-2 .arrow {
    width: 27px;
    height: 20px;
    margin-left: -2px;
}

.advantages.advantages-container-2 .white-arrow {
    width: 27px;
    height: 20px;
    margin-left: -2px;
}

.advantages.advantages-container-2 .button-container:hover {
    background-color: var(--bluePrimary);
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.advantages.advantages-container-2 .button-container {
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.advantages.advantages-container-2 .button-container:hover .arrow{
    opacity: 0;
    transition: all .3s ease-in;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.advantages.advantages-container-2 .button-container .arrow{
    transition: all .3s ease-out;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.advantages.advantages-container-3 {
    grid-area: container3;
    background-color: var(--greenLight);
    padding: 32px 24px;
    display: flex;
}

.advantages-3-span {
    color: var(--clickableBlack);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 16px;
}

.advantages-3-p {
    color: var(--grayPrimary);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 16px;
    margin-bottom: auto;
}

.advantages.advantages-container-4 {
    grid-area: container4;
    background-color: var(--purpleLight);
    padding: 32px 24px;
}

.advantages-4-span {
    color: var(--clickableBlack);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 16px;
}

.advantages-4-p {
    color: var(--grayPrimary);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 16px;
    margin-bottom: auto;
}

.advantages.advantages-container-5 {
    grid-area: container5;
    background-color: var(--pinkLight);
    overflow: hidden;
    padding: 36px 32px;
    position: relative;
}

.advantages-5-h2 {
    color: var(--clickableBlack);
    font-size: 24px;
    margin: 0 0 6px;
    font-weight: 700;
    line-height: 1.4;
    font-family: var(--font);
}

.advantages-5-p {
    color: var(--grayPrimary);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: auto;
    line-height: 22px;
    font-family: var(--font);
}

.advantages.advantages-5 .button {
    margin: 30px 0 0;
}

.advantages.advantages-5 image {
    vertical-align: middle;
    display: inline-block;
    max-height: 268px;
    width: auto;
}

.advantages-5-image {
    display: block;
}

/*HELSIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/

.helsi-background {
    background: var(--blue-pink-opacity60);
    margin: 0;
    padding: 0 !important;
    position: relative;
    height: 391.6px;
}

.helsi-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1172px;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    height: 391.6px;
}

.helsi-text-container {
    flex-grow: 1;
    margin-right: auto;
    padding-bottom: 72px;
    padding-top: 72px;
}

.helsi-h4 {
    color: var(--clickableBlack);
    font-family: var(--font);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
    margin: 0 0 24px !important;
    text-align: left;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.helsi-numbers-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    max-width: 668px;
    min-width: 453px;
    width: 668px;
}

.helsi-p {
    color: var(--grayPrimary);
    font-weight: 600;
    margin-bottom: 4px;
    white-space: nowrap;
    font-family: var(--font);
    font-size: 32px;
    line-height: 1.4;
    margin-top: 0;
}

.helsi-span {
    color: var(--graySecondary);
    font-weight: 400;
    margin-bottom: 0;
    white-space: nowrap;
    font-family: var(--font);
    font-size: 20px;
    line-height: 1.4;
    margin-top: 0;
}

.download-container {
    margin-top: 0;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.download-buttons-container {
    align-items: flex-start;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 453px;
    row-gap: 10px;
    display: flex;
    flex-direction: row !important;
}

.download-button {
    display: flex;
    flex: 0 0 auto;
    height: auto;
    width: 135px;
}

.download-p {
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--grayPrimary);
    display: inline-block;
}

/*fklsniogsfihwi*/

.helsi-image-container {
    align-items: flex-end;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    /*height: 391.6px;*/
}

.helsi-image-content {
    overflow: hidden;
    position: relative;
    height: 322px;
    width: 397px;
}

.helsi-bubble {
    border-radius: 50%;
    position: absolute;
    transition: all .3s ease-in;
}

.bigger-bubble {
    background: var(--blue-pink);
    height: 358px;
    right: 39px;
    top: 68px;
    width: 358px;
}

.smaller-bubble {
    background: var(--blue-pink);
    opacity: .8;
    height: 67px;
    right: 0;
    top: 54px;
    width: 67px;
}

.helsi-image {
    display: inline-block;
    height: auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
    width: 350px;
    aspect-ratio: auto 350 / 322;
}

/*REGISTER*/

.register-background {
    margin-top: 50px;
    background: var(--blue-pink);
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    padding: 85px 16px 95px;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
}

.register-bubble {
    background: var(--blue-pink-hover);
    bottom: 25px;
    height: 488px;
    left: 33px;
    opacity: .75;
    transform: rotate(90deg);
    width: 488px;
    border-radius: 50%;
    position: absolute;
    transition: all .3s ease-in;
}

.doctor-image {
    bottom: 0;
    display: inline-block;
    height: auto;
    left: 0;
    max-width: 100%;
    position: absolute;
    vertical-align: middle;
    width: 436px;
    aspect-ratio: auto 436 / 552;
}

.register-text-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    z-index: 1;
}

.register-h2 {
    max-width: 656px;
    text-align: left;
    font-weight: 600;
    font-family: var(--font);
    font-size: 32px;
    line-height: 1.4;
    color: var(--clickableBlack);
    margin: 0 auto 52px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate;
}

.register-h3 {
    color: var(--grayPrimary);
    margin-bottom: 16px;
    font-family: var(--font);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.register-list {
    margin-bottom: 48px !important;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.register-li {
    color: var(--grayPrimary) !important;
    margin-bottom: 6px;
    line-height: 22px;
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
}

/*FOOTERRRRRRRRRRRRRRRRRRRRRRRRRR*/

footer {
    padding: 46px 132px;
}

.footer-container {
    justify-content: space-between;
    padding-bottom: 30px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 0;
    max-width: 1255.2px;
    margin: 0 0;
}

.footer-image-container {
    display: block;
    flex: 0 0 88px;
}

.logo-footer {
    height: 88px;
    width: 88px;
}

.footer-text-container-1 {
    flex: 0 0 180px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.footer-p {
    color: var(--clickableBlack);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}

.footer-span {
    color: var(--clickableBlack);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    cursor: pointer;
}

.footer-span-blue {
    color: var(--bluePrimary);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
    cursor: pointer;
}

.footer-span:hover {
    color: var(--blueHover);
    transition: all .3s ease-in;
}

.footer-span-blue:hover {
    color: var(--blueHover);
    transition: all .3s ease-in;
}

.footer-text-container-2 {
    flex: 0 0 210px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.footer-button-container {
    flex: 0 0 166px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.footer-download-buttons-container {
    gap: 16px;
    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    line-height: 0;

}

.footer-bottom {
    padding-top: 35px;
    flex-flow: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    border-top: 1px solid var(--grayLine);
    display: flex;
    gap: 16px;
}

.footer-span-bottom {
    font-family: var(--font);
    color: var(--graySecondary);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.social-media {
    display: flex;
    gap: 12px;
}